table {
  /* border-collapse: collapse; */
  display: inline-block;
  margin: 64px;
  background-color: #2f2f2f;
}

td {
  border: black 3px solid;
  width: 64px; /* make this better */
  height: 64px; /* make this better */
}

#status li {
  display: inline-block;
  margin-right: 64px; /* make this better */
}

#status .value {
  font-weight: bolder;
}

.clicked {
  background: url(../graphics/clicked-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}