/* later, there will be more persons */
/* ["lisa", "ralf", "otto", "bernadette", "fridolin",
                   "michael", "susanne", "karl", "josephine", "mia"] */
.lisa, .ralf, .otto, .bernadette, .fridolin, .michael, .susanne, .karl,
    .josephine, .mia {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.lisa {
  background: url(../graphics/lisa.svg);
}
.ralf {
  background: url(../graphics/ralf.svg);
}
.otto {
  background: url(../graphics/otto.svg);
}
.bernadette {
  background: url(../graphics/bernadette.svg);
}
.fridolin {
  background: url(../graphics/fridolin.svg);
}
.michael {
  background: url(../graphics/michael.svg);
}
.susanne {
  background: url(../graphics/susanne.svg);
}
.karl {
  background: url(../graphics/karl.svg);
}
.josephine {
  background: url(../graphics/josephine.svg);
}
.mia {
  background: url(../graphics/mia.svg);
}


.indef1 {
  background-color: yellow;
}
.indef2 {
  background-color: orange;
}
.indef3 {
  background-color: red;
}
.indef4 {
  background-color: purple;
}

#intrchngr1p1, #intrchngr1p2 {
  border: fuchsia 3px solid;
  border-radius: 24px;
}
#intrchngr2p1, #intrchngr2p2 {
  border: olive 3px solid;
  border-radius: 24px;
}
#intrchngr3p1, #intrchngr3p2 {
  border: lawngreen 3px solid;
  border-radius: 24px;
}
#intrchngr4p1, #intrchngr4p2 {
  border: palevioletred 3px solid;
  border-radius: 24px;
}
#intrchngr5p1, #intrchngr5p2 {
  border: royalblue 3px solid;
  border-radius: 24px;
}
